<div *ngIf="showMenu">
  <div class="container-fluid no-pd sidebarBG">
    <div class="col-md-1 no-pd navbar">
      <p>
        <!-- <i class="fa fa-exchange" (click)="showMenu = !showMenu" aria-hidden="true"></i> -->
        <i class="fa fa-exchange" (click)="showMenu = showMenu" aria-hidden="true"></i>
      </p>
      <p>
        <a [routerLink]="['/home/dashboard']">
          <i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>
        </a>
      </p>
      <p>
        <a [routerLink]="['/home/reports']">
          <i class="fa fa-table fa-2x" aria-hidden="true"></i>
        </a>
      </p>
    </div>
    <div class="col-md-11 no-pd DashboardBG">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>